include ../node_modules/pug-bootstrap/components/buttons
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description",content="")
        meta(name="author",content="")
        title= title
        block styles
            link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    body
        block body
            .container
                .jumbotron
                    .row
                        .col-sm-12
                            h1 welcome!
                            p
                                |this is a sample application to demonstrate some best practises using the amazing 
                                a(target="_blank", href="https://www.vaultproject.io/") vault project from hashicorp 
                                |on aws. type a country in the box below and the app will tell you its capital city...