doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="description",content="")
        meta(name="author",content="")
        title= title
        block styles
            link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
            link(rel="stylesheet",href="/public/styles/site.css")
    body
        block body
            .container
                .jumbotron
                    .row
                        .col-sm-12
                            h1 eeerrrrr...
                            p
                                |wait...yes! i know that one! the capital city of  #{country} is 
                                a(href="https://www.google.co.uk/maps/place/" + city + "," + country) #{capital} 
                                |. 
                            p
                                a(href="/") ask me another...

